// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a {
   color: grey;
   &:hover {
     color: blue;
   }
 }

 $yellow: #b3c22c;

 #ans {
   background: $yellow;
 }
